/* 
	TimePicki CSS
*/

.ti_tx,
.mi_tx,
.se_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

.time,
.mins,
.secs,
.meridian {
	width: 60px;
	float: left;
	margin: 0 15px 0 0;;
	font-size: 20px;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
}

.prev,
.next {
	cursor: pointer;
	padding: 18px;
	width: 28%;
	border: 1px solid #ccc;
	margin: auto;
	border-radius: 5px;
}

.prev:hover,
.next:hover {
	background-color: #ccc;
}

.next {
	background: url(../images/down_arrow.svg) no-repeat center center;
}

.prev {
	background: url(../images/up_arrow.svg) no-repeat center center;
}

.time_pick {
	position: relative;
	display: inline-block;
}

.timepicker_wrap {
	padding: 10px;
	border-radius: 5px;
	z-index: 2;
	display: none;
	width: 240px;
	box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
	background: #f6f6f6;
	border: 1px solid #ccc;
	position: absolute;
	top: 27px;
	left: 0;
	text-shadow: none;
}


.arrow_top:after, .arrow_top:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_top:after {
	border-color: transparent;
	border-bottom-color: #f6f6f6;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_top:before {
	border-color: transparent;
	border-bottom-color: rgba(50,50,50,0.35);
	border-width: 16px;
	margin-left: -16px;
}

.with-seconds .timepicker_wrap { width: 300px; }

.timepicker_wrap input { width: 100%; }

.secs,
.mins { position: relative; }

.secs::before,
.mins::before { 
content: ":";
display: inline-block;
position: absolute;
top: 39%; left: -15%}

.close-timepicker {
	position: absolute;
	top: 3px;
	right: 3px;
	color: #333;
	text-decoration: none;
	font-size: 16pt;
	cursor: pointer;
	background: url(../images/cross.svg) no-repeat center center;
	width: 20px;
	height: 20px;
}

.close-timepicker:hover {
	opacity: 0.7;
}
